*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}
:root{
  --clr #222327
}
header{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}
body{
  background: var(--clr);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.navigation{
  width: 250px;
  height: 50px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.navigation ul{
  display: flex;
  width: 350px;
}
.navigation ul li{
  position: relative;
  list-style: none;
  width: 70px;
  z-index: 1;
}
.navigation ul li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center
  font-weight: 500;
}
.navigation ul li a .icon{
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}
.navigation ul li.active a.icon{
  transform: translateY(-35px);
}
.navigation ul li a .text {
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.navigation ul li.active a.text{
  opacity: 1;
  transform: translateY(10px);
}
.logo{
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.navlist{
  display: flex;
}
.navlist a{
  font-size: 15px;
  color: white;
  margin-left: 60px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .55s ease;
}
.navlist a:hover{
  border-bottom: 2px solid white;
}
#menu-icon{
  color: white;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
.hero{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#6666ff, 28.53%, #9999ff);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
section{
  padding: 0 19%;
}
.hero-text h1{
  font-family: 'Permanent Maker', cursive;
  font-size: 90px;
  line-height: 1;
  color: white;
  margin: 0 0 45px;
}
.hero-text h4{
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-block: 10px;
}
.hero-text p{
  color: white;
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 40px;
}
.sc{
  color: white;
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 55px;
}
.sc a{
  font-size: 15px;
  margin-block: 5px;
  color: white;
  line-height: 1.9;
}
.hero-img img{
  width: 500px;
  height: auto;
}
.hero-text a{
  display: inline-block;
  color: white;
  background: #6699ff;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .55s ease;
}
.hero-text a:hover{
  background: transparent;
  border: 1px solid white;
  transform: translatex(8px);
}
.hero-text a.ctaa{
  background: transparent;
  border: 1px solid white;
  margin-left: 20px;
}
.hero-text a.ctaa i{
  vertical-align: middle;
  margin-right: 5px;
}
.icons{
  position: absolute;
  top: 50%;
  padding: 0 9%;
  transform: translateY(-50%);
}
.icons i{
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: white;
  transition: all .50s ease;
}
.icons i:hover{
  color: white;
  transform: translateY(-5px);
}
.scroll-down{
  position: absolute;
  bottom: 6%;
  right: 9%;
}
.scroll-down i{
  display: block;
  padding: 12px;
  font-size: 25px;
  color: white;
  background: #6666ff;
  border-radius: 30px;
  transition: all .50s ease;
}
.scroll-down i:hover{
  transform: translateY(-5px);
}

@media (max-width: 1530px){
  header{
    padding: 15px 3%;
    transition: .2s;
  }
  .navigation{
  width: 250px;
  height: 50px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
  }
  .icons{
    padding: 0 3%;
    transition: .2s%;
  }
  .scroll-down{
    right: 3%;
    transition: .2s;
  }
}
@media (max-width: 1460px){
  section{
    padding: 0 12%;
    transition: .2s;
  }
}
@media (max-width: 1340px){
  .hero-img img{
    width: 100%;
    height: auto;
  }
  .hero-text h1{
    font-size: 75px;
    margin: 0 0 0 30px;
  }
  .hero-text h5{
    margin-bottom: 25px;
  }
}
@media (max-width: 1195px){
  section{
    padding: 0 3%;
    transition: .2s;
  }
  .hero-text{
    padding-top: 115px;
  }
  .hero-img{
    text-align: center;
  }
  .hero-img img{
    width: 560px;
    height: auto;
  }
  .hero{
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .icons{
    display: none;
  }
  .scroll-down{
    display: none;
  }
}
@media (max-width: 990px){
  #menu-icon{
    display: block;
  }
  .navlist{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 40vh;
    background: #6666ff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all .55s ease;
  }
  .navlist a{
    margin-left: 0;
    display: block;
    margin: 7px 0;
  }
  .navlist.open{
    right: 0;
  }
}
@media (max-width: 680px){
  .hero-img img{
    width: 100%;
    height: auto;
  }
  .navigation{
  width: 150px;
  height: 25px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.navigation ul li{
  position: relative;
  list-style: none;
  width: 35px;
  z-index: 1;
}
.navigation ul li a .icon{
  position: relative;
  display: block;
  line-height: 55px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: black;
}

}